@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --white: #ffffff;
  --white2: #dbd9d9;
  --black: #000000;
  --violet: #1a171f;
  --violet2: #0f1014;
  --violet3: #343138;
  --violet4: #313037;
}

:root {
  --color-background: var(--violet);
  --color-text: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-text: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
